/* Title */
h1#title { margin: 0; font-size: 3em; }

/* Navigation */
.nav { 
  padding: 0; 
  width: 100%; 
  font-size: 12px; 
  background-color: #CEF6CE; 
  border-top: 1px solid #0B610B;
}
.nav2 { height: 1.5em; }
.nav h2, .nav hr { display: none; }
.nav ul { 
#  font-size: 12px; 
  display: inline;
  list-style: none; 
  margin: 0; 
  text-align: left; 
  padding: 0; 
}
.nav li {
  border-right: 1px solid #0B610B;
  display: inline;
  margin: 0 0;
  padding: 0 .75em;
  white-space: nowrap;
}
.nav li.first { margin-left: .25em; }
.nav li.last { border-right: none }
.nav li.active { border-top: 1px solid #0B610B; font-weight: bold; }
.navleft { display: inline; }
.navleft ul { 
  float: left;
}
.navright { display: inline; }
.navright ul { 
  float: right; 
}

/* Footer */
.footer { 
  width: 100%; 
  height: 3em;
  border-bottom: 1px solid #0B610B;
  font-size: 12px; 
  font-style: italic;
  background-color: #CEF6CE; 
}
.footer div.left {
  float: left;
  margin: 5px;
}
.footer div.right {
  float: right;
  margin: 5px;
}

